<h1 *ngIf="!givenName">Welcome!</h1>
<h1 *ngIf="givenName">Welcome, {{ givenName }} {{ familyName }}!</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <button class="btn btn-default" (click)="loginCode()">Login</button>
      <button class="btn btn-default" (click)="logout()">Logout</button>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><b>access_token:</b> {{ access_token }}</p>
    <p><b>id_token:</b> {{ id_token }}</p>
    <div *ngIf="userProfile">
      <b>user profile:</b>
      <pre>{{ userProfile | json }}</pre>
    </div>
  </div>
</div>

